@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {

    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;     

    /* Grid Settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color_dark: #373737;
    --color-light: #ebebeb;


    /* color swatch category */
    --category-seafood: #3E30E2;
    --category-chicken: #249C8E;
    --category-meats: #D09189;
    --category-veg: #298F3F;
    --category-dessert: #9374EB;
    --category-misc: #9A951E;
    --category-pasta: #BF5B23;




}

/* Reset CSS */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #dddddd;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color:var(--background-color-dark-bg);
  height: auto;
  width:var(--width-full);
}

.navigation {
  background-color: #00000088;
  position:relative;
  z-index: 5;
}

.menu-container {

  width:var(--width-12col);
  margin:0 auto 0 auto;
}

.menu-container ul {
  display: flex;
  font-size: 12px;

}

.menu-container ul li {
  list-style-type: none;
  margin: 10px 0;  
}

.menu-container ul li a { 
  color:var(--color-light);
  text-decoration:none;
  text-transform: uppercase;
  border-right: 1px solid var(--color-light);
  padding:0 10px 0 10px;
}

.menu-container ul li a:hover { 
  color:var(--primary-color);
}

.menu-container ul li:last-child a {
  border-right: none;

}


.hero {
  margin-top:-35px;

  width: var(--width-full);
  background-image:url('https://picsum.photos/1280/650');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  color:var(--color-light)
}

.hero-container {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: var(--grid-gap);
  height:100%;
  width: var(--width-12col);
  margin:0 auto 0 auto;
}

.hero-text {
  grid-column: 1 / span 3;
  grid-row: 1;
  margin-top:200px;
}

.hero-text-small-header {
  font-size:12px;
}

.hero-text-big-header {
  font-size:32px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
}

.hero-text-bold {
  font-weight: 900;
}


.hero-search {
  grid-column: 2 / span 3;
  grid-row: 2;
  margin-top:60px
}

.hero-search p {
  margin-top: 5px;
  font-size: 12px;
}

.search-box {
  background-color: transparent;
  padding:10px 40px 10px 20px;
  border: var(--color-light) 1px solid;
  border-radius: 5px;
  outline:none;
  color:var(--color-light);
}

.search-box::placeholder {
  color:var(--color-light);
}

.todays_recipe {
  height: fit-content;
  width:var(--width-full);
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px auto;
  gap:var(--grid-gap);
}

.todays_recipes_content_block_image img {
    height: 200px;
    width:var(--width-full);
    background-size:cover;
    background-position: center;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
}

.todays_recipes_headline {
  height:60px;
  color:var(--color-white); 
  border-bottom: 1px solid var(--color-white);
  font-size:37px;
  font-weight: 700;
  text-transform: uppercase;
  
  display:flex;
  justify-content: flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width:var(--width-12col);
  margin:70px auto 0 auto;  
}

.todays_recipes_headline i {
  color: green;
  margin-left: 10px;
}

.todays_recipes_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  gap:var(--grid-gap);
  height: fit-content;
  margin:30px auto 0 auto;
  box-sizing: border-box;
  width: var(--width-12col);
}

.todays_recipes_content_block {
  background-color:var(--background-color-light);
  position:relative;
  border-radius:5px;
  display:flex;
  flex-direction:column;
}


.todays_recipes_content_block_text_top h5 {
  font-size:22px;
  font-weight: 700; 
  text-transform: uppercase;
  margin: 0 0 10px 0; 
}

.todays_recipes_content_block_text_top p {
  font-size: 16px;
  font-family: 'Roboto Condensen', sans-serif
}

.todays_recipes_content_block_text {
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  color:var(--color_dark)
}

.todays_recipes_content_block_bottom_area {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  border-left:2px solid var(--category-seafood)
}

.todays_recipes_content_block_bottom_area_chicken {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  border-left:2px solid var(--category-chicken)
}

.todays_recipes_content_block_bottom_area_dessert {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  border-left:2px solid var(--category-dessert)
}

.todays_recipes_content_block_bottom_area_beef {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  border-left:2px solid var(--category-meats)
}

.category_color_seafood {
  color: var(--category-seafood);
}

.category_color_chicken {
  color: var(--category-chicken);
}

.category_color_dessert {
  color: var(--category-dessert);
}

.category_color_beef { 
  color: var(--category-meats);
}

.todays_recipes_content_block_bottom_area_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 10px;
}

.todays_recipes_content_block_bottom_area_left p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.todays_recipes_content_block_bottom_area_right button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor:pointer;
}

.todays_recipes_content_block_bottom_area_right button a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}

.category_selection {
  height:60px;
  color:var(--color-white); 
  border-bottom: 1px solid var(--color-white);
  font-size:37px;
  font-weight: 700;
  text-transform: uppercase;
  
  display:flex;
  justify-content: flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width:var(--width-12col);
  margin:70px auto 0 auto;  
}

.category_selection_box {
  width: var(--width-12col);
  background-color: white;
  height: 90px;
  margin:40px auto 0 auto; 
  border-radius: 5px;
  padding: 10px 50px 10px 50px;
  text-align: center;
  
}

.category_selection_box_options {
  display: flex;
  justify-content: space-between;
  margin:  10px 0 0 0;
}

.category_selection_box_options_vegetarian i {
  width: 37px;
  height: 37px;
  font-size: 30px;
  text-align: center;
  color: var(--category-veg);
}

.category_selection_box_options_vegetarian a {
  color: var(--category-veg);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  text-decoration: none;
}

.category_selection_box_options_seafood i {
  width: 37px;
  height: 37px;
  font-size: 30px;
  text-align: center;
  color: var(--category-seafood)
}

.category_selection_box_options_seafood p {
  color: var(--category-seafood);
  text-transform: uppercase;
  font-weight: 700;
}

.category_selection_box_options_pastas i {
  width: 37px;
  height: 37px;
  font-size: 30px;
  text-align: center;
  color: var(--category-pasta);
}

.category_selection_box_options_pastas p {
  color: var(--category-pasta);
  text-transform: uppercase;
  font-weight: 700;
}

.category_selection_box_options_chicken i {
  width: 37px;
  height: 37px;
  font-size: 30px;
  text-align: center;
  color: var(--category-chicken);
}

.category_selection_box_options_chicken p {
  color: var(--category-chicken);
  text-transform: uppercase;
  font-weight: 700;
}

.category_selection_box_options_snacks i {
  width: 37px;
  height: 37px;
  font-size: 30px;
  text-align: center;
  color: var(--category-misc);
}

.category_selection_box_options_snacks p {
  color: var(--category-misc);
  text-transform: uppercase;
  font-weight: 700;
}


.category_selection_box_options_beef i {
  width: 37px;
  height: 37px;
  font-size: 30px;
  text-align: center;
  color: var(--category-meats)
}

.category_selection_box_options_beef p {
  color: var(--category-meats);
  text-transform: uppercase;
  font-weight: 700;
}

.category_selection_box_options_dessert i {
  width: 37px;
  height: 37px;
  font-size: 30px;
  text-align: center;
  color: var(--category-dessert)
}

.category_selection_box_options_dessert p {
  color: var(--category-dessert);
  text-transform: uppercase;
  font-weight: 700;
  
}

.content_image_area {
  grid-template-columns: repeat(12, 1fr);
  grid-row: auto auto auto;
  display: grid;
  position: relative;
}

.content_image_area img {
  object-fit: cover;
  margin-top: 200px;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  height:800px;
  grid-column: 1 / span 12;
  width: var(--width-full);
}

.content_image_box {
  height: 187px;
  width: 367px;
  background-color: var(--color-white);
  grid-column: 10;
  border-radius: 5px;
  padding: 30px;
  position: absolute;
  margin: 500px auto auto auto;
}

.content_image_box_top_text {
  font-weight: 700;
  font-size: 16px;
}

.content_image_box_top_middle_text {
  text-transform: uppercase;
  padding-top: 15px;
  font-weight: 700;
  font-size: 22px;
  color: var(--primary-color);
}

.content_image_box_top_bottom_text {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
}

.content_area_title {
  height:60px;
  color:var(--color-white); 
  border-bottom: 1px solid var(--color-white);
  font-size:37px;
  font-weight: 700;
  text-transform: uppercase;
  
  display:flex;
  justify-content: flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width:var(--width-12col);
  margin:70px auto 40px auto;  
}







.content_area_grid_first {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  width: var(--width-12col);
  align-items: center;
  position: relative;
  margin: 0 auto 0 auto;
}

.content_area_grid_box_one {  
  background-color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  height: 420px;
  width: var(--width-12col);
  background-color: var(--color-light);
}

.content_area_grid_box_one_box {
  height: 420px;
  width: 600px;
  background-color: #ebebeb;
}

.content_area_grid_box_one_top_text {
  color: black;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 90px;
  margin-left: 100px;
  border-left: 2px solid var(--primary-color);

}

.content_area_grid_box_one_middle_text {
  margin-left: 100px;
  font-size: 22px;
  font-weight: 700;
  color:var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content_area_grid_box_one_bottom_text {
  color: black;
  margin-left: 100px;
  margin-bottom: 100px;
  width: 280px;
}

.content_area_grid_box_one_button {
  height: 40px;
  width: 179px;
  border-radius: 5px;

  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);

  font-size: 12px;
  font-weight: 700;
  cursor:pointer;
  margin-left: 100px;
}

.content_area_grid_box_one_button a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}

.content_area_grid_box_one_image {
  grid-column: 2 / span 12;
  grid-row: 1 / span 4;
}











.content_area_grid_second {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: var(--width-12col);
  align-items: center;
  position: relative;
  margin: 0 auto 0 auto;
}

.content_area_grid_box_two {  
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  grid-column: 1 / span 5;
  height: 420px;
  width: var(--width-12col);
  background-color: var(--color-light);

}

.content_area_grid_box_two_box {
  height: 420px;
  width: 600px;
  background-color: #ebebeb;
  grid-column: 8 / span 12;


}

.content_area_grid_box_two_box_top_text {
  color: black;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 90px;
  margin-left: 100px;
  border-left: 2px solid var(--primary-color);
  
}

.content_area_grid_box_two_box_middle_text {
  color: var(--primary-color);
  margin-left: 100px;
  font-size: 22px;
  font-weight: 700;
  color:var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content_area_grid_box_two_box_bottom_text {
  color: black;
  margin-left: 100px;
  margin-bottom: 100px;
  width: 280px;
}

.content_area_grid_box_two_box_button {
  height: 40px;
  width: 179px;
  border-radius: 5px;

  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);

  font-size: 12px;
  font-weight: 700;
  cursor:pointer;
  margin-left: 100px;
}

.content_area_grid_box_two_box_button a {
color: var(--color-light);
text-transform: uppercase;
text-decoration: none;
font-size: 18px;
}

.content_area_grid_box_two_image {
  grid-column: 1 / span 7;
  grid-row: 1 / span 4;
}


.content_area_grid_third {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: var(--width-12col);
  align-items: center;
  position: relative;
  margin: 0 auto 0 auto;
}

.content_area_grid_box_three {  
  background-color: white;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  grid-column: 1 / span 5;
  height: 420px;
  width: var(--width-12col);
  background-color: var(--color-light);
}

.content_area_grid_box_three_image {
  grid-column: 2 / span 12;
  grid-row: 1 / span 4;
}

.content_area_grid_box_three_box {
  background-color: #EBEBEB;
  height: 420px;
  width: 600px;
}

.content_area_grid_box_three_box_top_text {
  color: black;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 90px;
  margin-left: 100px;
  border-left: 2px solid var(--primary-color);
}

.content_area_grid_box_three_box_middle_text {
  color: var(--primary-color);
  margin-left: 100px;
  font-size: 22px;
  font-weight: 700;
  color:var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content_area_grid_box_three_box_bottom_text {
  color: black;
  margin-left: 100px;
  margin-bottom: 100px;
  width: 280px;
}

.content_area_grid_three_box_button {
  height: 40px;
  width: 179px;
  border-radius: 5px;

  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);

  font-size: 12px;
  font-weight: 700;
  cursor:pointer;
  margin-left: 100px;
}

.content_area_grid_three_box_button a {
  color: var(--color-light);
text-transform: uppercase;
text-decoration: none;
font-size: 18px;
}

.pushing_the_bottom_away {
  width: var(--width-full);
  height: 300px;
}

.footer {
  margin-top: 80px;
  height: 200px;
  width: var(--width-full);
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.footer_line {
  height: 72px;
  width: 2px;
  background-color: white;
  grid-column: 7;
  grid-row: 2;
  margin-top: 50px;
}

.footer_left_box {
  margin-top: 30px;
  grid-row: 2;
  grid-column: 2 / span 1;
}

.footer_left_box a {
  color: var(--color_dark);
  text-decoration: none;
}

.footer_left_box li {
  list-style: none;
  margin-top: 10px;
  color: var(--color_dark);
}

.footer_lefter_box {
  grid-column: 5;
  grid-row: 2;
  margin-top: 30px;
}

.footer_lefter_box li {
  list-style: none;
  margin-top: 10px;
}

.footer_lefter_box a {
  text-decoration: none;
  color: var(--color_dark);
}

.footer_righter_box {
  grid-column: 9 / span 3;
  grid-row: 2;
  margin-top: 40px;
  direction: rtl; 
  text-align: right; 
}

.footer_righter_box a {
  color: white;
  font-size: 10px;
}

.footer_righter_box li {
  list-style: none;
}

.footer_righter_box_bottom {
  grid-column: 11 / span 1;
  grid-row: 3;
  margin-top: -60px;
  direction: rtl;
  text-align: right; 
}

.footer_righter_box_bottom li {
  list-style: none;
  display: flex;
  font-size: 10px;
  color: var(--color_dark);
}

.footer_righter_box_bottom i {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 5px;
}


/*-------------------------------Subpage-----------------------------------------------------------------------------------------------------*/

/* Recipe_page */
.color-primary {
  color:var(--primary-color);
}

.recipe_details {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap:var(--grid-gap);
  width:var(--width-12col);
  margin: 0 auto;
  padding:100px 0 0 0;
}

.recipe_details_left {
  grid-column: 1 / span 6;
}


.recipe-hero-container {/* child to follow to 12 column */
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  width:var(--width-12col);
  gap:var(--grid-gap);
  margin: 0 auto;
} 

.recipe-hero-text {
  grid-column: 1 / span 4;
  margin-top:0px;
  grid-row: 1;
  color: var(--background-color-light);
}

.recipe-hero-text-smallest {
  font-size: 12px;
}

.recipe-hero-text-medium {
  font-size: 32px;
  text-transform: uppercase;
  margin-top:15px;
}

.recipe-hero-text-large {
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top:5px;
  margin-bottom:15px
}


/* START HERE */
/* PART I - Three icon+info */
.recipe_details_ingredient_block_info_three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  margin: 30px 0 0 0;
  color: var(--color-light);
}

.recipe_details_ingredient_block_info_three_item {
display: flex;
padding: 10px 0;
}

.recipe_details_ingredient_block_info_three_item i {
  color: var(--primary-color);
  margin: 0 10px 0 0;
}
/* Part I End */



/* PART II - input field ingredients start */
.recipe_details_ingredients {
  margin: 0 0 30px 0;
  color: var(--background-color-light);
  background: rgb(217,217,217);
  background: linear-gradient(90deg, rgba(217,217,217,0.23) 0%, rgba(217,217,217,0.24) 63%, rgba(217,217,217,0) 100%);
  padding: 20px 20px 5px 20px;
  border-radius: 5px;
}

.recipe_details_ingredients h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
}

.recipe_details_ingredient_block_checkboxes {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.recipe_details_ingredients label {
  display: flex;
  align-items: center;
  width: 45%;
  margin: 10px 10px 10px 0;
  font-size: 16px;
}

.recipe_details_ingredients input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid var(--background-color-light);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin: 0 10px 0 0;
}

.recipe_details_ingredients input[type="checkbox"]:checked {
  background-color: var(--primary-color) ;
  border: none;
}

.recipe_details_ingredients input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid var(--color-light);
  border-width: 0 2px 2px 0;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* input field ingredients end - PART II end */



/* PART III - buttons after input fields */
.recipe_details_ingredient_block_buttons {
display: flex;
margin: 30px 0 0 0;
}

.recipe_details_ingredient_block_buttons button {
  background-color: transparent;
  color: var(--background-color-light);
  border: 1px solid var(--background-color-light);
  padding: 10px 20px ;
  border-radius: 5px;
  margin: 0 10px 0 0;
  font-size: 12px;
  text-transform: uppercase;
}


.recipe_details_ingredient_block_buttons button a {
  color: var(--color-light);
  text-decoration: none;
}

.recipe_details_ingredient_block_buttons button:hover i {
  color: var(--primary-color);
}
/* PART III END */



/* Right side top */
.recipe_details_right {
  grid-column: 7 / span 6;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe_details_right_image {
 
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} 

.recipe_details_right_image img {
  width:100%;
  height: 100%;
  max-width: fit-content;
  max-height: 500px;

}


.recipe_instruction_one_header {
  height:60px;
  color:var(--color-white); 
  border-bottom: 1px solid var(--color-white);
  font-size:37px;
  font-weight: 700;
  text-transform: uppercase;
  
  display:flex;
  justify-content: flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width:var(--width-12col);
  margin:70px auto 0 auto;  
  margin-bottom: 20px;
}

.recipe_instruction_one_header h3 {
  margin-left: 285px;
  font-size: 57px;
}

.recipe_instruction_one_intruction_and_ingredient_box {
  width: var(--width-12col);
  height: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  display: grid;
  margin: auto;
}

.recipe_instruction_one_intruction_and_ingredient_box_left {
  grid-column: 1 / span 5;
}

.recipe_instruction_one_intruction_and_ingredient_box_left li  {
  color: #EBEBEB;
  list-style:decimal;
  margin-left: 17px;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.recipe_instruction_one_intruction_and_ingredient_box_right {
  grid-column: 8 / span 12;
  margin-top: 10px;
}

.recipe_instruction_one_intruction_and_ingredient_box_right li {
  padding-top: 10px;
  color: #EBEBEB;
  font-size: 14px;
  font-weight: 400;
}

.recipe_instruction_two_header {
  height:60px;
  color:var(--color-white); 
  border-bottom: 1px solid var(--color-white);
  font-size:37px;
  font-weight: 700;
  text-transform: uppercase;
  
  display:flex;
  justify-content: flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width:var(--width-12col);
  margin:70px auto 0 auto;  
  margin-bottom: 20px;
}

.recipe_instruction_two_header h3 {
  margin-left: 285px;
  font-size: 57px;
}

.recipe_instruction_two_intruction_and_ingredient_box {
  width: var(--width-12col);
  height: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto; 
  display: grid;
  margin: auto;
}

.recipe_instruction_two_intruction_and_ingredient_box_lefter {
  display: grid;
}

.recipe_instruction_two_intruction_and_ingredient_box_lefter li {
  color: var(--primary-color);
  list-style: none;
  Transform: rotate(180deg);
  writing-mode: vertical-lr;
  padding-top: 20px;
  margin-top: 4px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.step1 {
  margin-top: 20px;
  grid-row: 1;
}

.step2 {
  grid-row: 2;
  margin-top: 20px;
}

.step3 {
  grid-row: 3;
  margin-top: 17px;
}

.step4 {
  grid-row: 4;
  margin-top: 18px;
}

.step5 {
  grid-row: 5;
  margin-top: 77px
}

.step6 {
  grid-row: 6;
  margin-top: 48px;
}

.step7 {
  grid-row: 7;
  margin-top: 75px;
}



.recipe_instruction_two_intruction_and_ingredient_box_left {
  grid-column: 2 / span 5;
  color: #EBEBEB;
  margin-left: -50px;
}

.recipe_instruction_two_intruction_and_ingredient_box_left li {
  list-style: none;
  padding-top: 20px;
  line-height: 30px;
}

.recipe_instruction_two_intruction_and_ingredient_box_right {
  grid-column: 8 / span 12;
  margin-top: 10px;
}

.recipe_instruction_two_intruction_and_ingredient_box_right li {
  padding-top: 10px;
  color: #EBEBEB;
  font-size: 14px;
  font-weight: 400;
}

.fillerbox {
 width: 100%;
 height: 500px;
}

.subpage_footer {
  margin-top: 80px;
  height: 200px;
  width: var(--width-full);
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.subpage_footer_line {
  height: 72px;
  width: 2px;
  background-color: white;
  grid-column: 7;
  grid-row: 2;
  margin-top: 50px;
}

.subpage_footer_left_box {
  margin-top: 30px;
  grid-row: 2;
  grid-column: 2 / span 1;
}

.subpage_footer_left_box a {
  color: var(--color_dark);
  text-decoration: none;
}

.subpage_footer_left_box li {
  list-style: none;
  margin-top: 10px;
  color: var(--color_dark);
}

.subpage_footer_lefter_box {
  grid-column: 5;
  grid-row: 2;
  margin-top: 30px;
}

.subpage_footer_lefter_box li {
  list-style: none;
  margin-top: 10px;
}

.subpage_footer_lefter_box a {
  text-decoration: none;
  color: var(--color_dark);
}

.subpage_footer_righter_box {
  grid-column: 9 / span 3;
  grid-row: 2;
  margin-top: 40px;
  direction: rtl; 
  text-align: right; 
}

.subpage_footer_righter_box a {
  color: white;
  font-size: 10px;
}

.subpage_footer_righter_box li {
  list-style: none;
}

.subpage_footer_righter_box_bottom {
  grid-column: 11 / span 1;
  grid-row: 3;
  margin-top: -60px;
  direction: rtl;
  text-align: right; 
}

.subpage_footer_righter_box_bottom li {
  list-style: none;
  display: flex;
  font-size: 10px;
  color: var(--color_dark);
}

.subpage_footer_righter_box_bottom i {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 5px;
}

/*---------------------------------------------Vegan-page-------------------------------------------------------------------------------------------*/

.vegan_hero {
  margin-top:-35px;

  width: var(--width-full);
  background-image:url('../pictures/veganhero.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  color:var(--color-light)
}

.vegan_hero_container {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: var(--grid-gap);
  height:100%;
  width: var(--width-12col);
  margin:0 auto 0 auto;
}

.vegan_hero_text {
  grid-column: 1 / span 4;
  grid-row: 1;
  margin-top:200px;
  margin-bottom: 300px;
  margin-right: 110px;
  background-color: #00000077;
  border-radius: 5px;
}

.vegan_hero_text_small_header {
  font-size:32px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 300;
}

.vegan_hero_text_big_header {
  font-size:32px;
  text-transform: uppercase;
  font-weight: 700;
}

.vegan_todays_recipes_headline  {
  height:60px;
  color:var(--color-white); 
  border-bottom: 1px solid var(--color-white);
  font-size:37px;
  font-weight: 700;
  text-transform: uppercase;
  
  display:flex;
  justify-content: flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width:var(--width-12col);
  margin:70px auto 0 auto;  
  margin-bottom: 20px;
}

.vegan_weekly_selection_box {
  width: var(--width-12col);
  height: auto;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  margin: auto auto auto;
}

.vegan_weekly_selection_box_one {
  grid-column: 1;
  grid-row: 1;
  width: 650px;
  height: 370px;
  background-color: white;
  border-radius: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  display: grid;
}

.vegan_weekly_selection_box_one img  {
  height: 370px;
  width: 325px;
  border-bottom-left-radius: 5px ;
  border-top-left-radius: 5px;
  object-fit: cover;
}

.vegan_weekly_selection_box_one_text {
  grid-column: 2 / span 10;
  grid-row: 1;
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  color: var(--color_dark);
}

.vegan_weekly_selection_box_one_text_small {
  grid-column: 2 / span 9;
  grid-row: 1;
  margin-top: 100px;
  padding: 10px;
  color: var(--color_dark);
  line-height: 24px;
}

.vegan_weekly_fancy_line_one {
height: 2px;
width: 300px;
margin-top: 100px;
margin-left: 10px;
grid-column: 2 / span 12;
grid-row: 1;
background-color: var(--color_dark);
}

.vegan_weekly_selection_box_one ul {
  grid-column: 2 / span 6;
  grid-row: 1;
  padding: 10px;
  margin-top: 305px;
  list-style: none;
}

.vegan_weekly_selection_box_one i {
  color: var(--primary-color);
  font-size: 20px;
}

.vegan_weekly_stars_one {
  color: var(--primary-color);
  font-size: 20px;
}

.vegan_weekly_button_one {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor:pointer;
  grid-column: 10;
  grid-row: 1;
  height: 40px;
  margin-top: 320px;
  margin-left: 10px;
}

.vegan_weekly_button_one a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.vegan_weekly_selection_box_two {
  grid-column: 1;
  grid-row: 1;
  margin-top: 480px;
  width: 650px;
  height: 370px;
  background-color: white;
  border-radius: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  display: grid;
}

.vegan_weekly_selection_box_two img  {
  height: 370px;
  width: 325px;
  border-bottom-left-radius: 5px ;
  border-top-left-radius: 5px;
  object-fit: cover;
}

.vegan_weekly_selection_box_two_text {
  grid-column: 2 / span 10;
  grid-row: 1;
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  color: var(--color_dark);
}

.vegan_weekly_selection_box_two_text_small {
  grid-column: 2 / span 9;
  grid-row: 1;
  margin-top: 100px;
  padding: 10px;
  color: var(--color_dark);
  line-height: 24px;
}

.vegan_weekly_fancy_line_two {
height: 2px;
width: 300px;
margin-top: 100px;
margin-left: 10px;
grid-column: 2 / span 12;
grid-row: 1;
background-color: var(--color_dark);
}

.vegan_weekly_selection_box_two ul {
  grid-column: 2 / span 6;
  grid-row: 1;
  padding: 10px;
  margin-top: 305px;
  list-style: none;
}

.vegan_weekly_selection_box_two i {
  color: var(--primary-color);
  font-size: 20px;
}

.vegan_weekly_stars_two {
  color: var(--primary-color);
  font-size: 20px;
}

.vegan_weekly_button_two {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor:pointer;
  grid-column: 10;
  grid-row: 1;
  height: 40px;
  margin-top: 320px;
  margin-left: 10px;
}

.vegan_weekly_button_two a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.vegan_weekly_selection_box_three {
  grid-column: 12;
  grid-row: 1;
  width: 440px;
  height: 850px;
  background-color: white;
  border-radius: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  display: grid;
}

.vegan_weekly_selection_box_three img {
  width: 440px;
  height: 425px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: cover;
}

.vegan_weekly_selection_box_three_text {
  font-size: 37px;
  font-weight: 700;
  grid-column: 1 / span 4;
  padding: 10px;
  margin-top: -5px;
  color: var(--color_dark);
}

.vegan_weekly_fancy_line_three {
height: 2px;
width: 420px;
margin-left: 10px;
grid-column: 1 / span 12;
background-color: var(--color_dark);
margin-top: -5px;
}

.vegan_weekly_selection_box_three_text_small {
  grid-column: 1;
  padding: 10px;
  color: var(--color_dark);
  line-height: 24px;
}

.vegan_weekly_selection_box_three ul {
  grid-column: 1 / span 6;
  padding: 10px;
  list-style: none;
  margin-top: 185px;
}

.vegan_weekly_selection_box_three i {
  color: var(--primary-color);
  font-size: 20px;
}

.vegan_weekly_stars_three {
  color: var(--primary-color);
  font-size: 20px;
}

.vegan_weekly_button_three {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor:pointer;
  grid-column: 1;
  width: 80px;
  height: 40px;
  margin-left: 345px;
  margin-top: -53px;
} /*buttons seems to act on their own a lot, as in they change shapes and i havent the slightest clue why*/

.vegan_weekly_button_three a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.vegan_most_frequently {
  height:60px;
  color:var(--color-white); 
  border-bottom: 1px solid var(--color-white);
  font-size:37px;
  font-weight: 700;
  text-transform: uppercase;
  
  display:flex;
  justify-content: flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width:var(--width-12col);
  margin:70px auto 0 auto;  
  margin-bottom: 20px;
}

.vegan_most_frequently_box {
  margin: auto auto auto;
  width: var(--width-12col);
  height: auto;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
}


.vegan_most_frequently_box_one {
  height: 280px;
  width: 360px;
  grid-column: 1;
  margin-right: 60px;
  border-radius: 5px;
  position: relative; 
  overflow: hidden;
}

.vegan_most_frequently_box_one_img {
  opacity: 1;
  height: 280px;
  width: 360px;
  object-fit: cover;
  transition: .5s ease;
  border-radius: 5px;
}

.vegan_most_frequently_box_one_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
  grid-template-columns: repeat(12, 1fr);
  display: grid;
}

.vegan_most_frequently_box_one:hover .vegan_most_frequently_box_one_img {
  opacity: 0.3;
}

.vegan_most_frequently_box_one:hover .vegan_most_frequently_box_one_middle {
  opacity: 1;
}

.vegan_most_frequently_box_one_middle_text {
  color: var(--primary-color);
  font-size: 24px;
  grid-column: 2 / span 12;
  grid-row: 1;
  margin-top: -220px;
  position: absolute;
}

.vegan_most_frequently_box_one_middle_text_small {
  grid-column: 2 / span 11;
  grid-row: 1;
  margin-top: -110px;
  position: absolute;
  color: #EBEBEB;
  line-height: 24px;
}

.vegan_one_button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor:pointer;
  grid-column: 11;
  grid-row: 2;
  margin-top: 180px
}

.vegan_one_button a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.vegan_one_list {
  color: #EBEBEB;
  list-style: none;
  grid-column: 2 / span 8;
  grid-row: 2;
  margin-top: 170px
}

.vegan_one_list i {
  font-size: 20px;
  color: var(--primary-color);
}

.vegan_one_list_time {
  margin-bottom: 5px;
  font-size: 16px;
}

.vegan_one_list_star {
  font-size: 20px;
  color: var(--primary-color);
}

.vegan_most_frequently_box_two {
  height: 280px;
  width: 360px;
  grid-column: 2;
  border-radius: 5px;
  position: relative; 
  overflow: hidden;
}

.vegan_most_frequently_box_two_img {
  opacity: 1;
  height: 280px;
  width: 360px;
  object-fit: cover;
  transition: .5s ease;
  border-radius: 5px;
}

.vegan_most_frequently_box_two_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
  grid-template-columns: repeat(12, 1fr);
  display: grid;
}

.vegan_most_frequently_box_two:hover .vegan_most_frequently_box_two_img {
  opacity: 0.3;
}

.vegan_most_frequently_box_two:hover .vegan_most_frequently_box_two_middle {
  opacity: 1;
}

.vegan_most_frequently_box_two_middle_text {
  color: var(--primary-color);
  font-size: 24px;
  grid-column: 2 / span 12;
  grid-row: 1;
  margin-top: -220px;
  position: absolute;
}

.vegan_most_frequently_box_two_middle_text_small {
  grid-column: 2 / span 11;
  grid-row: 1;
  margin-top: -110px;
  position: absolute;
  color: #EBEBEB;
  line-height: 24px;
}

.vegan_two_button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor:pointer;
  grid-column: 11;
  grid-row: 2;
  margin-top: 180px
}

.vegan_two_button a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.vegan_two_list {
  color: #EBEBEB;
  list-style: none;
  grid-column: 2 / span 8;
  grid-row: 2;
  margin-top: 170px
}

.vegan_two_list i {
  font-size: 20px;
  color: var(--primary-color);
}

.vegan_two_list_time {
  margin-bottom: 5px;
  font-size: 16px;
}

.vegan_two_list_star {
  font-size: 20px;
  color: var(--primary-color);
}

.vegan_most_frequently_box_three {
  height: 280px;
  width: 360px;
  grid-column: 3;
  margin-left: 60px;
  border-radius: 5px;
  position: relative; 
  overflow: hidden;
}

.vegan_most_frequently_box_three img {
  opacity: 1;
  height: 280px;
  width: 360px;
  object-fit: cover;
  transition: .5s ease;
  border-radius: 5px;
}

.vegan_most_frequently_box_three_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
  grid-template-columns: repeat(12, 1fr);
  display: grid;
}

.vegan_most_frequently_box_three:hover .vegan_most_frequently_box_three_img {
  opacity: 0.3;
}

.vegan_most_frequently_box_three:hover .vegan_most_frequently_box_three_middle {
  opacity: 1;
}

.vegan_most_frequently_box_three_middle_text {
  color: var(--primary-color);
  font-size: 24px;
  grid-column: 2 / span 12;
  grid-row: 1;
  margin-top: -220px;
  position: absolute
}

.vegan_most_frequently_box_three_middle_text_small {
  grid-column: 2 / span 11;
  grid-row: 1;
  margin-top: -110px;
  position: absolute;
  color: #EBEBEB;
  line-height: 24px;
}

.vegan_three_button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor:pointer;
  grid-column: 11;
  grid-row: 2;
  margin-top: 180px
}

.vegan_three_button a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.vegan_three_list {
  color: #EBEBEB;
  list-style: none;
  grid-column: 2 / span 8;
  grid-row: 2;
  margin-top: 170px
}

.vegan_three_list i {
  font-size: 20px;
  color: var(--primary-color);
}

.vegan_three_list_time {
  margin-bottom: 5px;
  font-size: 16px;
}

.vegan_three_list_star {
  font-size: 20px;
  color: var(--primary-color);
}


.vegan_most_frequently_box_four {
  height: 280px;
  width: 360px;
  grid-column: 1;
  grid-row: 2;
  margin-top: 60px;
  border-radius: 5px;
  position: relative; 
  overflow: hidden;
}

.vegan_most_frequently_box_four img {
  opacity: 1;
  height: 280px;
  width: 360px;
  object-fit: cover;
  transition: .5s ease;
  border-radius: 5px;
}

.vegan_most_frequently_box_four_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
  grid-template-columns: repeat(12, 1fr);
  display: grid;
}

.vegan_most_frequently_box_four:hover .vegan_most_frequently_box_four_img {
  opacity: 0.3;
}

.vegan_most_frequently_box_four:hover .vegan_most_frequently_box_four_middle {
  opacity: 1;
}

.vegan_most_frequently_box_four_middle_text {
  color: var(--primary-color);
  font-size: 24px;
  grid-column: 2 / span 12;
  grid-row: 1;
  margin-top: -220px;
  position: absolute
}

.vegan_most_frequently_box_four_middle_text_small {
  grid-column: 2 / span 11;
  grid-row: 1;
  margin-top: -110px;
  position: absolute;
  color: #EBEBEB;
  line-height: 24px;
}

.vegan_four_button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor:pointer;
  grid-column: 11;
  grid-row: 2;
  margin-top: 180px
}

.vegan_four_button a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.vegan_four_list {
  color: #EBEBEB;
  list-style: none;
  grid-column: 2 / span 8;
  grid-row: 2;
  margin-top: 170px
}

.vegan_four_list i {
  font-size: 20px;
  color: var(--primary-color);
}

.vegan_four_list_time {
  margin-bottom: 5px;
  font-size: 16px;
}

.vegan_four_list_star {
  font-size: 20px;
  color: var(--primary-color);
}

.vegan_most_frequently_box_five {
  height: 280px;
  width: 360px;
  grid-column: 2;
  grid-row: 2;
  margin-top: 60px;
  border-radius: 5px;
  position: relative; 
  overflow: hidden;
}

.vegan_most_frequently_box_five img {
  height: 280px;
  width: 360px;
  object-fit: cover;
  border-radius: 5px;
  transition: .5s ease;
  border-radius: 5px;
}


.vegan_most_frequently_box_five_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
  grid-template-columns: repeat(12, 1fr);
  display: grid;
}

.vegan_most_frequently_box_five:hover .vegan_most_frequently_box_five_img {
  opacity: 0.3;
}

.vegan_most_frequently_box_five:hover .vegan_most_frequently_box_five_middle {
  opacity: 1;
}

.vegan_most_frequently_box_five_middle_text {
  color: var(--primary-color);
  font-size: 24px;
  grid-column: 2 / span 12;
  grid-row: 1;
  margin-top: -220px;
  position: absolute
}

.vegan_most_frequently_box_five_middle_text_small {
  grid-column: 2 / span 11;
  grid-row: 1;
  margin-top: -110px;
  position: absolute;
  color: #EBEBEB;
  line-height: 24px;
}

.vegan_five_button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor:pointer;
  grid-column: 11;
  grid-row: 2;
  margin-top: 180px
}

.vegan_five_button a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.vegan_five_list {
  color: #EBEBEB;
  list-style: none;
  grid-column: 2 / span 8;
  grid-row: 2;
  margin-top: 170px
}

.vegan_five_list i {
  font-size: 20px;
  color: var(--primary-color);
}

.vegan_five_list_time {
  margin-bottom: 5px;
  font-size: 16px;
}

.vegan_five_list_star {
  font-size: 20px;
  color: var(--primary-color);
}

.vegan_most_frequently_box_six {
  height: 280px;
  width: 360px;
  grid-column: 3;
  grid-row: 2;
  margin-left: 60px;
  margin-top: 60px;
  border-radius: 5px;
  position: relative; 
  overflow: hidden;
}

.vegan_most_frequently_box_six img {
  height: 280px;
  width: 360px;
  object-fit: cover;
  border-radius: 5px;
  transition: .5s ease;
  border-radius: 5px;
}

.vegan_most_frequently_box_six_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
  grid-template-columns: repeat(12, 1fr);
  display: grid;
}

.vegan_most_frequently_box_six:hover .vegan_most_frequently_box_six_img {
  opacity: 0.3;
}

.vegan_most_frequently_box_six:hover .vegan_most_frequently_box_six_middle {
  opacity: 1;
}

.vegan_most_frequently_box_six_middle_text {
  color: var(--primary-color);
  font-size: 24px;
  grid-column: 2 / span 12;
  grid-row: 1;
  margin-top: -220px;
  position: absolute
}

.vegan_most_frequently_box_six_middle_text_small {
  grid-column: 2 / span 11;
  grid-row: 1;
  margin-top: -110px;
  position: absolute;
  color: #EBEBEB;
  line-height: 24px;
}

.vegan_six_button {
  background-color: var(--color_dark);
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  cursor:pointer;
  grid-column: 11;
  grid-row: 2;
  margin-top: 180px
}

.vegan_six_button a {
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.vegan_six_list {
  color: #EBEBEB;
  list-style: none;
  grid-column: 2 / span 8;
  grid-row: 2;
  margin-top: 170px
}

.vegan_six_list i {
  font-size: 20px;
  color: var(--primary-color);
}

.vegan_six_list_time {
  margin-bottom: 5px;
  font-size: 16px;
}

.vegan_six_list_star {
  font-size: 20px;
  color: var(--primary-color);
}

.vegan_footer {
  margin-top: 80px;
  height: 200px;
  width: var(--width-full);
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.vegan_footer_line {
  height: 72px;
  width: 2px;
  background-color: white;
  grid-column: 7;
  grid-row: 2;
  margin-top: 50px;
}

.vegan_footer_left_box {
margin-top: 30px;
grid-row: 2;
grid-column: 2 / span 1;
}

.vegan_footer_left_box a {
  color: var(--color_dark);
  text-decoration: none;
}

.vegan_footer_left_box li {
  list-style: none;
  margin-top: 10px;
  color: var(--color_dark);
}

.vegan_footer_lefter_box {
  grid-column: 5;
  grid-row: 2;
  margin-top: 30px;
}

.vegan_footer_lefter_box li {
  list-style: none;
  margin-top: 10px;
}

.vegan_footer_lefter_box a {
  text-decoration: none;
  color: var(--color_dark);
}

.vegan_footer_righter_box {
  grid-column: 9 / span 3;
  grid-row: 2;
  margin-top: 40px;
  direction: rtl; 
  text-align: right; 
}

.vegan_footer_righter_box a {
  color: white;
  font-size: 10px;
}

.vegan_footer_righter_box li {
  list-style: none;
}

.this_shant_have_a_line {
  text-decoration: none;
}

.vegan_footer_righter_box_bottom {
  grid-column: 11 / span 1;
  grid-row: 3;
  margin-top: -60px;
  direction: rtl;
  text-align: right; 
}

.vegan_footer_righter_box_bottom li {
  list-style: none;
  display: flex;
  font-size: 10px;
  color: var(--color_dark);
}

.vegan_footer_righter_box_bottom i {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 5px;
}


